<div class="container-fluid">
  <br><br><br>
  <div class="row">
    <!--<div class="col-3">-->
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="form-group">
          <input class="form-control" placeholder="Scrivere il nome del circuito" type="text" formControlName="name" required>
        </div>

        <button type="submit" class="btn btn-danger">Search</button>
      <br>
      <br>
      </form>


      <div class="container-fluid text-center">

        <div *ngIf="active">
          <h1 style="color:rgb(230, 14, 14);">{{circuito.name}} </h1> <br>
          <img src="{{ circuito.image }}" width="600" height="300"> <br><br>
          <p><b>LOCALITÀ:</b> {{circuito.location}}</p>
          <p><b>NAZIONE:</b> {{circuito.country}} </p>
          <p><b>LUNGHEZZA:</b> {{circuito.Lunghezza}}</p>
          <p><b>CURVE:</b> {{circuito.Curve}}</p>
          <p><b>INAUGURAZIONE:</b> {{circuito.Inaugurazione}}</p>
          <p><b>TEMPO RECORD:</b> {{circuito.TempoRecord}}</p>
          <p><b>DETENTORE:</b> {{circuito.Detentore}}</p>



        </div>


      </div>
    <!--</div>-->
  </div>
</div>
