<br><br><br>
<div class="container border ">
  <br>
  <div class="row">
    <!--<div class="col-3">-->
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="form-group">
          <input class="form-control ml-3" placeholder="Scrivere il nome del circuito" type="text" formControlName="name" required>
        </div>

        <button type="submit" class="btn btn-danger ml-3">Search</button>
      <br>
      <br>
      </form>


      <div class="container-fluid text-center">

        <div *ngIf="active">
          <h1> {{circuito.name}} </h1> <br>
          <img src="{{ circuito.image }}" width="600" height="300"> <br><br>
          <p><b>LOCALITÀ: {{circuito.location}}</b></p>
          <p><b>NAZIONE:{{circuito.country}}</b> </p>
          <p><b>LUNGHEZZA:{{circuito.Lunghezza}}</b></p>
          <p><b>CURVE: {{circuito.Curve}}</b></p>
          <p><b>INAUGURAZIONE: {{circuito.Inaugurazione}}</b></p>
          <p><b>TEMPO RECORD: {{circuito.TempoRecord}}</b></p>
          <p><b>DETENTORE: {{circuito.Detentore}}</b></p>



        </div>


      </div>
    <!--</div>-->
  </div>
</div>
<br><br>
