<br>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <div class = "map"
          leaflet
          [leafletOptions] = "options"
           (leafletMapReady)="onMapReady($event)"
          [leafletLayersControl]="layersControl">
      </div>
    </div>

  <div class="col-2">
      <br>
          <h3><b> RICERCHE </b></h3>
          <br>

          <form [formGroup]="circuitoForm" (ngSubmit)="submitCircuito()">
          <input class="form-control" id="circuitRef" placeholder="Inserisci il nome di un circuito" type="text" formControlName="nome" required>
          &nbsp;
          <button type="submit" class="btn btn-danger">Search</button>

          </form>
          <br><br>
          <form [formGroup]="pilotaForm" (ngSubmit)="submitPilota()">
          <input class="form-control" id="driverRef" placeholder="Inserisci il nome di un pilota" type="text" formControlName="nome" required>
          &nbsp;
          <button type="submit" class="btn btn-danger">Search</button>

          </form>

          <br><br>
          <form [formGroup]="scuderiaForm" (ngSubmit)="submitScuderia()">
          <input class="form-control" id="constructorRef" placeholder="Inserisci il nome di una scuderia" type="text" formControlName="nome" required>
          &nbsp;
          <button type="submit" class="btn btn-danger">Search</button>
          </form>

          <br><br>
          <form [formGroup]="trovaForm" (ngSubmit)="submitTrova()">
          <input class="form-control" id="circuitRef" placeholder="Inserisci il nome di una città" type="text" formControlName="nome" required>
          &nbsp;
          <button type="submit" class="btn btn-danger">Search</button>
          </form>





      </div>
      </div>
</div>
