<div class="container-fluid">
  <br><br><br>
  <div class="row">
    <!--<div class="col-3">-->
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="form-group">
          <input class="form-control" placeholder="Scrivere il nome della scuderia" type="text" formControlName="name" required>
        </div>

        <button type="submit" class="btn btn-danger">Search</button>
      <br>
      <br>
      </form>


      <div class="container-fluid text-center">

        <div *ngIf="active">
          <h1 style="color:rgb(230, 14, 14);">{{scuderia.name}} </h1> <br>
          <img src="{{ scuderia.image }}" width="600" height="300"> <br><br>
          <p><b>ANNO DI ENTRATA:</b> {{scuderia.firstTeamEntry}}</p>
          <p><b>BASE:</b> {{scuderia.Base}} </p>
          <p><b>NAZIONE:</b> {{scuderia.Country}}</p>
          <p><b>CAMPIONATI VINTI:</b> {{scuderia.WorldChampionships}}</p>
          <p><b>POSIZIONE PIÙ ALTA RAGGIUNTA:</b> {{scuderia.HighestRaceFinish}}</p>
          <p><b>POLE POSITIONS:</b> {{scuderia.PolePositions}}</p>
          <p><b>GIRI PIÙ VELOCI:</b> {{scuderia.FastestLaps}}</p>
          <p><b>PILOTI ATTUALI:</b> {{scuderia.CurrentPilots}}</p>



        </div>

      </div>

    <!--</div>-->
  </div>
</div>
