/* You can add global styles to this file, and also import other style files */
body, html
{
height: 100%;
}

body
{
  height: 100%;
  background: url('https://images.hdqwalls.com/wallpapers/f1-game-2020-os.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.container {
background :rgba(87, 87, 87, 0.712);
margin-top: 25px;
border-radius:10px;

}

/*https://cdn.wallpapersafari.com/81/7/SiW3DA.jpg*/
/*https://images8.alphacoders.com/990/990154.jpg*/
/*https://www.mercedesamgf1.com/en/news/2020/2020-turkish-grand-prix/2020-turkish-grand-prix-mercedes-qualifying-hamilton-bottas/_jcr_content/root/slider/sliderchilditems/slideritem/image/MQ7-0-image-20201114152154/00M251796_4252.jpeg*/

