<br><br><br>
<div class="container border ">

  <br>
  <div class="row">
    <!--<div class="col-3">-->
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="form-group">
          <input class="form-control ml-3" placeholder="Scrivere il nome del pilota" type="text" formControlName="name" required>
        </div>

        <button type="submit" class="btn btn-danger ml-3">Search</button>
        <br>
      <br>
      </form>


      <div class="container-fluid text-center">

        <div *ngIf="active">
          <h1>{{pilota.firstName}} {{pilota.lastName}} </h1> <br>
          <img src="{{ pilota.image }}"> <br><br>
          <p><b>NAZIONALITÀ: {{pilota.nationality}}</b></p>
          <p><b>LUOGO DI NASCITA: {{pilota.placeOfBirth}}</b> </p>
          <p><b>DATA DI NASCITÀ: {{pilota.dateOfBirth}}</b></p>
          <p><b>AUTO: {{pilota.car}}</b></p>
          <p><b>PODI: {{pilota.podiums}}</b></p>
          <p><b>POLE POSITIONS: {{pilota.polePosition}}</b></p>
          <p><b>GP SVOLTI: {{pilota.participatingGPs}}</b></p>
          <p><b>GP VINTI: {{pilota.highestposGPs}}</b></p>
          <p><b>PUNTI OTTENUTI: {{pilota.earnedPoint}}</b></p>
          <p><b>CAMPIONATI VINTI: {{pilota.championshipsWon}}</b></p>
          <p><b>DESCRIZIONE: {{pilota.biografy}}</b></p>


        </div>

      </div>
    <!--</div>-->
  </div>
</div>
