<div class="container-fluid">
  <br><br><br>
  <div class="row">
    <!--<div class="col-3">-->
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="form-group">
          <input class="form-control" placeholder="Scrivere il nome del pilota" type="text" formControlName="name" required>
        </div>

        <button type="submit" class="btn btn-danger">Search</button>
      <br>
      <br>
      </form>


      <div class="container-fluid text-center">

        <div *ngIf="active">
          <h1 style="color:rgb(230, 14, 14);">{{pilota.firstName}} {{pilota.lastName}} </h1> <br>
          <img src="{{ pilota.image }}"> <br><br>
          <p><b>NAZIONALITÀ:</b> {{pilota.nationality}}</p>
          <p><b>LUOGO DI NASCITA:</b> {{pilota.placeOfBirth}} </p>
          <p><b>DATA DI NASCITÀ:</b> {{pilota.dateOfBirth}}</p>
          <p><b>AUTO:</b> {{pilota.car}}</p>
          <p><b>PODI:</b> {{pilota.podiums}}</p>
          <p><b>POLE POSITIONS:</b> {{pilota.polePosition}}</p>
          <p><b>GP SVOLTI:</b> {{pilota.participatingGPs}}</p>
          <p><b>GP VINTI:</b> {{pilota.highestposGPs}}</p>
          <p><b>PUNTI OTTENUTI:</b> {{pilota.earnedPoint}}</p>
          <p><b>CAMPIONATI VINTI:</b> {{pilota.championshipsWon}}</p>
          <p><b>DESCRIZIONE:</b> {{pilota.biografy}}</p>


        </div>

      </div>
    <!--</div>-->
  </div>
</div>
