<div class="container-fluid">
  <br><br><br>
  <div class="row">
    <div class="col-3">
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="form-group">
          <input class="form-control" placeholder="Scrivi nome del pilota" type="text" formControlName="name" required>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <div *ngIf="active">
        {{pilota.firstName}} {{pilota.lastName}} {{pilota.driverRef}} {{pilota.car}}
      </div>

    </div>
  </div>
</div>
