<br>
<br>
<br>
<br>

<div class=container>
<div class="container-fluid text-left">

  <br>
  <br>

  <H1><b>F1 RACEMAP</b></H1>

  <br>


  <p><b>
   Qui potrai visualizzare i dati relativi ai piloti, alle scuderie, ai circuiti e alle gare dei campionati di Formula1 in base alla ricerca che più desideri effettuare. Inoltre per te sarà
   possibile visualizzare su una cartina geografica la posizione del luogo di nascità di ogni pilota partecipante al campionato, la sede di ciascuna scuderia partecipante al campionato e la località di ciascun circuito percorso nella storia.
 </b></p>
 <br>
 <!--Permettere all'utente di modificare lo sfondo in base al suo team preferito-->

 <div class="row">

  <div class="col-sm-5">
    <img src='https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/2021MonacoManualAdds/Sunday/GettyImages-1233041472.jpg.transform/6col/image.jpg' class="rounded" width="500" height="350">
    <a href="https://www.formula1.com/en/latest/article.jolyon-palmer-how-mercedes-got-it-so-wrong-with-hamiltons-strategy-in-monaco.4EcPiMlgXaYli48OYYrqSD.html" target="_blank">Perché Hamilton era così frustrato dalla chiamata strategica della Mercedes a Monaco</a>
  </div>
 <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <img src='https://www.formula1.com/content/dam/fom-website/sutton/2021/Monaco/Saturday/1319490347.jpg.transform/9col/image.jpg' class="rounded" width="500" height="350">
        <a href="https://www.formula1.com/en/latest/article.ferrari-investigation-finds-that-leclerc-qualifying-crash-was-to-blame-for.1NNRCOZ5MBnYZVLGSg1HrC.html" target="_blank">L'indagine della Ferrari scopre che l'incidente di qualificazione di Leclerc è stato la causa del problema che ha costretto il Monaco DNS</a>
  </div>
  </div>

   <div class="row">
  <div class="col-sm-5">
    <img src='https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/MonacoManualAdds/Sunday/GettyImages-1319010819.jpg.transform/9col/image.jpg' class="rounded" width="500" height="350">
    <a href="https://www.formula1.com/en/latest/article.ocon-happy-to-extend-points-streak-on-monaco-weekend-where-alpine-were-not.311wOPZ6QgFg5fJuIlAcBR.html" target="_blank">Ocon felice di prolungare la serie di punti nel weekend di Monaco, dove gli Alpine "non erano al meglio"</a>
  </div>
 <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <img src='https://www.formula1.com/content/dam/fom-website/manual/Misc/Esports/2021/ProEx_Thumb.jpg.transform/9col/image.jpg' class="rounded" width="500" height="350">
        <a href="https://www.formula1.com/en/latest/article.f1-esports-series-qualifying-sees-record-participation-ahead-of-season.1v2rxVsXNN4qHAuSr0yJPv.html" target="_blank"> Le qualifiche della F1 Esports Series vedono una partecipazione record in vista dell'apertura della stagione Pro Exhibition</a>
  </div>
  </div>

   <div class="row">

  <div class="col-sm-5">
    <img src='https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/MonacoManualAdds/Sunday/E2PgGcwXsAUZRiL.jpg.transform/9col/image.jpg' class="rounded" width="500" height="350">
    <a href="https://www.formula1.com/en/latest/article.alonso-labels-russell-future-world-champion-in-helmet-swap-message.7DAFkfPe4JKoghFPqR8vmN.html" target="_blank">Alonso etichetta Russell come 'futuro campione del mondo' nel messaggio di scambio del casco</a>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <img src='https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/GettyImages-1319632282.jpg.transform/9col/image.jpg' class="rounded" width="500" height="350">
        <a href="https://www.formula1.com/en/latest/article.podium-finisher-lando-norris-explains-why-he-ordered-radio-silence-in-monaco.2dg3duqmWol7QCCGh8ByVr.html" target="_blank"> Il podio Lando Norris spiega perché ha chiesto il silenzio radio a Monaco</a>
  </div>
  </div>

 <br><br>
</div>
</div>
