<br>
<br>
<br>
<br>

<div class=container>
<div class="container-fluid text-center">

  <br>
  <br>

  <H1><b>F1 RaceMap</b></H1>

  <br>

 <br>
  <p><b>
   In questa web app l’utente potrà visualizzare i dati relativi ai piloti, alle scuderie, ai circuiti e alle gare dei campionati di Formula1 in base alla ricerca che effettuerà. Inoltre sarà
   possibile per l'utente visualizzare su una cartina geografica la posizione del luogo di nascità di ciascun pilota partecipante al campionato, la posizione della sede di ciascuna scuderia
   partecipante al campionato e la località di ciascun circuito percorso nella storia.
 </b></p>
 <br>
 <!--Permettere all'utente di modificare lo sfondo in base al suo team preferito-->
 <br><br><br><br><br>
</div>
</div>
