<nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
    <!-- Brand/logo -->
    <a class="navbar-brand " href="/home"><b>F1 RaceMap</b></a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/pilota"><b>Piloti</b></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/scuderie"><b>Scuderie</b></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/circuiti"><b>Circuiti</b></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/gare"><b>Gare</b></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/map"><b>Mappa</b></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/leaflet"><b>Leaflet</b></a>
      </li>
    </ul>
</nav>


<router-outlet></router-outlet>

